.container {
    width: 90%;
    max-width: 1222px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctaPrimary {
    text-decoration: none;
    color: white;
    background-color: #ff1214;
    border: 2px solid #ff1214;
    font-weight: 500;
    font-size: 1.225rem;
    padding: .82em 2.73em;
    transition: box-shadow 500ms;
}

.cta-secondary {
    text-decoration: none;
    color: #ff1214;
    border: 2px solid #ff1214;
    font-weight: 500;
    font-size: 1.225rem;
    padding: .82em 2.73em;
    transition: background-color 500ms;
}









.footer {
    margin-top: 6em;
    padding-top: 4em;
    border-top: 1px solid #1f1f1f;
}

.footerCta {
    margin-bottom: 2em;
}

.footerCta h2 {
    font-size: 4rem;
}

.footerCtaRight p {

    font-size: 1.225rem;
    font-weight: 600;
    margin-bottom: 2em;

}


.footerInfo {
    font-size: 1.225rem;
    line-height: 160%;
    width: 50%;
}

.logo {
    margin-bottom: 2em;
}


.socials {
    margin: 3em 0;
}
.socials a{
    padding: 5px 20px;
}

.socials img {
    width: 40px;
    height: 40px;
    margin-right: 3em;
}


.privacy {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 2em;
}

.contact {
    margin-top: 2em;
}

.contact .number,
.email {
    display: flex;
    padding: 1em 0;
}

.contact .number,
.email p {
    padding-left: .5em;
}

.email {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}



@media(max-width:750px) {

    /* .footer{ */
    .footer .flex {
        flex-direction: column-reverse;
    }

    .footerCta h2 {
        /* { */
        font-size: 4rem;
        margin-right: .3em;
        /* } */
    }

    .footerInfo {
        display: flex;
    }

    .logo {
        display: none;
    }

    .number,
    .email {
        display: flex;
        padding: .5em;
    }
}

.contactbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 220px !important;
    color: white !important;
}

.contactbtn:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 2px 2px red;
}
